<div class="movie">
      <h3>{{Title}}</h3>
      <h7>{{Released}}</h7>
      <h4>Staring: </h4>
{{!--       <img class="poster"> --}}


<!--       <ul>
        {{#each tags}} -->
          <!-- <li>{{inc @index}} {{category}}:{{name}}</li>
        {{/each}} -->
<!--       </ul> -->
    </div>