    <div class="movie">
      <h1>{{Title}}</h1>
      <h4>{{Released}}</h4>
      <h2>Staring: </h2>


<!--       <ul>
        {{#each tags}} -->
          <!-- <li>{{inc @index}} {{category}}:{{name}}</li>
        {{/each}} -->
<!--       </ul> -->
    </div>