{{!-- {{#each this}} --}}
<div class="movies">
      <h3>Title:{{Title}}</h3>
      <h4>Release Date:{{Released}}</h4>
      <h4>Starring: {{Actors}}</h4>

      <button type="submit" value="Delete">Delete</button>

      <p class="add-to-seen-list"><a href="#">Watched</a></p>
{{!--       <img class="poster"> --}}


<!--       <ul>
        {{#each tags}} -->
          <!-- <li>{{inc @index}} {{category}}:{{name}}</li>
        {{/each}} -->
<!--       </ul> -->

</div>
{{!-- {{/each}} --}}